.programmingHero{

    display: flex;
    margin: 10px;
    margin-top: 10%;
    

}
.left-line{
    border-left: 3px solid red;
    padding-left: 10px;
    font-size: 28px;
}
.mission{
    color: orange;
}
.person01{
    
    width: 50%;
    margin-left: 10%;
    
}

#my-mission-part{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

#mission-part{
    width: 30%;
    margin: 2%;
    border: 2px ;
    background-color: rgb(200, 228, 236);
    padding: 15px;
    border-radius: 10px;

}      

#mission-part img{
    width: 30%;
    margin-left: 10px;
    
}

#vission-part{
    width: 30%;
    margin: 2%;
    border: 2px ;
    padding: 15px;
    background-color: rgb(233, 215, 229);
    
    border-radius: 10px;
}
#vission-part img{
    width: 30%;
    margin-left: 10px;
    
}
#goal-part{
    width: 30%;
    margin: 2%;
    border: 2px ;
    padding: 15px;
    background-color: rgb(206, 185, 201);
    
    border-radius: 10px;
}
#goal-part img{
    width: 30%;
    margin-left: 10px;
    
}
.button{
    
    text-decoration: none;
    border: 10px solid orange;
    border-radius: 5px;
    background-color: orange;
    color: white;
    
}


.person01 img{
    width: 50%;
    margin-left: 10px;
}

.text-center{
     text-align: center;
     margin-top: 80px;
     font-size: 28px;
}
.develop{
    display: flex;
    margin: 10px;
    margin-top: 10%;
    
    
    
}
.develop-text{
    margin-right: 120px;
}
.develop img{
    width: 70%;
    margin-left: 120px;
}
#global-part{
    display: flex;
    margin: 10px;
    margin-top: 10%;
    
}
.global{
    width: 50%;
    
    margin-left: 120px;
    
    
}
 

 .global img{
         width: 70%;
         margin-right: 150px;
        
         
}
.footer-part{
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
    padding-top: 10px;
}
